# Dependency directories
node_modules/

# Build outputs
bin/
obj/
publish/
build/
dist/

# IDE settings
.vs/
.vscode/
*.user
*.suo
*.sln.docstates

# Environment variables
.env
appsettings.Development.json

# Database backups & files
*.bak
*.mdf
*.ldf

# Logs and OS files
*.log
.DS_Store
Thumbs.db