services:
  db:
    image: mcr.microsoft.com/azure-sql-edge:latest
    container_name: ecom_sql_db
    user: root
    privileged: true
    restart: always
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=YourStrongPassword123!
      - MSSQL_PID=Developer
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql/data
    networks:
      - ecom_network

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ecom_backend_api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__DefaultConnection=Server=db;Database=EcomStoreDB;User Id=sa;Password=YourStrongPassword123!;TrustServerCertificate=True
    ports:
      - "5000:8080"
    depends_on:
      - db
    networks:
      - ecom_network

  frontend:
    build:
      context: ./EcomFront
      dockerfile: Dockerfile
    container_name: ecom_frontend_app
    ports:
      - "4200:80"
    depends_on:
      - backend
    networks:
      - ecom_network

networks:
  ecom_network:
    driver: bridge

volumes:
  sql_data:
